.loginhatter{
	-fx-background-color: linear-gradient(to bottom right, #F3F5F9, #F3F5F9);
}
.exit{
	-fx-background-color: linear-gradient(to bottom right, #25282A, #25282A);
}
.logininput{
	-fx-background-color:#fff;
	-fx-border-style: hidden hidden solid hidden;
	-fx-border-width: 2;
	-fx-border-color: #939393;
	-fx-prompt-text-fill: #939393;
}
.logininput:focused{
	-fx-background-color:#fff;
	-fx-border-style: hidden hidden solid hidden;
	-fx-border-width: 2;
	-fx-border-color: #939393;
	-fx-text-fill:#202020;
}
.mainpane{
	-fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.2), 5, 0, 0, 0);
	-fx-background-color:white;
	-fx-background-radius:20;
}


.custom-button {
    -fx-font-size: 14px;
    -fx-padding: 5;
    -fx-background-color: #1877F2;
	-fx-background-radius:30;
	-fx-text-fill:white;
	-fx-font-weight:bold;
}
.custom-button:hover {
    -fx-font-size: 14px;
    -fx-padding: 5;
    -fx-background-color: #3a89f0;
	-fx-background-radius:30;
	-fx-text-fill:white;
	-fx-font-weight:bold;
}

.registerButton{
    -fx-font-size: 14px;
    -fx-padding: 5;
    -fx-background-color: white;
	-fx-background-radius:30;
	-fx-border-radius:30;
	-fx-border-style: solid;
	-fx-border-width: 2;
	-fx-border-color: #1877F2;
	-fx-text-fill:#1877F2;
	-fx-font-weight:normal;
}
.registerButton:hover {
    -fx-font-size: 14px;
    -fx-padding: 5;
    -fx-background-color: white;
	-fx-background-radius:30;
	-fx-border-radius:30;
	-fx-border-style: solid;
	-fx-border-width: 2;
	-fx-border-color: #6ea4eb;
	-fx-text-fill:#6ea4eb;
	-fx-font-weight:normal;
}
.CloseButtonImage { 
    -fx-background-image: url('img/closeimage2.png');
    -fx-background-size: 100%;
    -fx-background-repeat: no-repeat;
    -fx-background-position: 50%;
	-fx-background-color:transparent;
}
.TalcaButtonImage { 
    -fx-background-image: url('img/talcaimage.png');
    -fx-background-size: 100%;
    -fx-background-repeat: no-repeat;
    -fx-background-position: 50%;
	-fx-background-color:transparent;
}