/*SZÍNEK
vörös: #0A0B0D
világos sárga: #1F2023
sötét narancs:  #111215
sárga: #1F2023
gomb aktív: #111215
input: #1F2023
*/

/*SZÍNEK
vörös: #0A0B0D
világos sárga: #1F2023
sötét narancs:  #111215
sárga: #1F2023
gomb aktív: #111215
input: #1F2023
*/

.root{
   /* -fx-background-color: linear-gradient(to bottom right, #cfffc9, #ffeab0);*/
   -fx-background-color: #0A0B0D;
    /*-fx-background-radius: 15;*/
	-fx-font: 12px "Helvetica";
}
.label{
	-fx-text-fill: white;
}
.table-view {
	-fx-padding: -1px;
    -fx-background-color:#1F2023;
	-fx-text-background-color:#82d18d;
}
.table-view .column-header{
	-fx-background-color: #111215;

}
.table-column{
	-fx-alignment: CENTER;
}
.table-view .column-header .label{
    -fx-text-fill: #82d18d;
	
}
.table-view .table-cell{
    -fx-border-color: transparent;
    -fx-padding: 2 0 2 10px;

}
.table-row-cell: hover {
    -fx-background-color: #93f9b911;
    -fx-text-background-color:#dedede;
}
.table-row-cell:selected {
    -fx-background-color: #93f9b911;
    -fx-background-insets: 0;
	-fx-text-background-color:#ffffff;
    -fx-background-radius: 1;
}
.table-row-cell: odd{
    -fx-background-color: #1F2023;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em;
}
.table-row-cell: even{
    -fx-background-color: #4A4C51;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em;
}

.list-view, .split-pane { -fx-background-insets: 0; -fx-padding: 0; }


.tabpane{
	-fx-background-color: linear-gradient(to bottom right, #1F2023, #1F2023);
	-fx-text-base-color: #82d18d;
}
.tab-pane .tab-header-area .tab-header-background {
    /*-fx-opacity: 0;*/
	-fx-background-color: #0A0B0D;
	-fx-text-background-color:#82d18d;
	-fx-text-fill:#82d18d;
}
.tab-pane
{
    -fx-tab-min-width:90px;
	-fx-text-background-color:#82d18d;
	-fx-text-fill:#82d18d;
}
.tab{
    -fx-background-insets: 0 1 0 1,0,0;
	-fx-text-background-color:#82d18d;
	-fx-text-fill:#82d18d;
}
.tab-pane .tab
{
    -fx-background-color: #111215;
	-fx-text-background-color:#82d18d;
	-fx-text-fill:#82d18d;
}
.tab-pane .tab:selected
{
    -fx-background-color: #1F2023;
	-fx-text-background-color:#82d18d;
	-fx-text-fill:#82d18d;
}

.text-field {
    -fx-background-color: #82d18d , #4A4C51;
    -fx-background-insets: 0 0 0 0, 0 0 0 0;
	  
	-fx-prompt-text-fill: #82d18d;
	-fx-text-background-color:#82d18d;
	-fx-text-fill:#82d18d;
	/*-fx-opacity:0.4;*/
}
.text-field:focused {
    -fx-background-color: #36393E , #36393E;
    -fx-background-insets: 0 -1 -1 -1, 0 0 0 0, 0 -1 3 -1;
	-fx-text-background-color:#82d18d;
	-fx-text-fill:#82d18d;
}
.text-area {
	-fx-control-inner-background:#111215;
	-fx-highlight-text-fill:#82d18d; -fx-text-fill: #82d18d;
	/*-fx-opacity:0.4;*/
}
.text-area .scroll-pane {
    -fx-background-color: transparent;
}
.text-area .scroll-pane .viewport{
    -fx-background-color: transparent;
}
.text-area .scroll-pane .content{
    -fx-background-color: transparent;
	
}
.text-area:focused {
    -fx-background-insets: 0;
    -fx-background-color: transparent,  #36393E, transparent,  #36393E;
    -fx-background-radius: 0, 0, 0, 0;
	-fx-text-background-color:#82d18d;
    -fx-focus-color: -fx-control-inner-background;
    -fx-faint-focus-color: -fx-control-inner-background;
    -fx-text-box-border: -fx-control-inner-background;
    -fx-border-width: -1;
}


/* Background color of the whole context menu*/
.choice-box .context-menu { -fx-background-color: #0A0B0D; }
/* Focused item background color in the list*/
.choice-box .menu-item:focused { -fx-background-color: #1F2023; }
/* Text color of non-focused items in the list*/
.choice-box .menu-item > .label { -fx-text-fill: #82d18d; }
/* Text color of focused item in the list*/
.choice-box .menu-item:focused > .label { -fx-text-fill: #82d18d; }

/*Background color of the control itself*/
.choice-box {
  -fx-background-color: #0A0B0D;
  -fx-mark-color: #82d18d; /* arrow color*/
  -fx-background-radius:0;
}

/* Selected item text color on the control itself*/
.choice-box > .label { -fx-text-fill: #82d18d; }




.betegseg{
	-fx-background-color:  #4A4C51;
    -fx-background-insets: 0 0 0 0, 0 0 0 0;
	  
}




.custom-button {
    -fx-font-size: 16px;
    -fx-padding: 10;
    -fx-background-color: #111215;
	  
	-fx-text-background-color:#82d18d;
	-fx-text-fill:#82d18d;
}
.custom-button:hover {
    -fx-font-size: 16px;
    -fx-padding: 10;
    -fx-background-color: #36393E;
	  
	-fx-text-background-color:#82d18d;
	-fx-text-fill:#82d18d;
}
.custom-button.register {
    -fx-font-size: 16px;
    -fx-padding: 10;
    -fx-background-color: #111215;
	  
	-fx-text-background-color:#82d18d;
	-fx-text-fill:#82d18d;
}
.custom-button.register:hover {
    -fx-font-size: 16px;
    -fx-padding: 10;
    -fx-background-color: #36393E;
	  
	-fx-text-background-color:#82d18d;
	-fx-text-fill:#82d18d;
}
.sidepane{
	-fx-background-color: #111215;
	-fx-text-fill:#82d18d;
}



.split-pane:horizontal > .split-pane-divider {
   -fx-background-color:#111215;
}
.split-pane:vertical > .split-pane-divider {
   -fx-background-color: #111215;
}




.radio-button .radio {
	-fx-background-color:  #36393E;
	-fx-border-color: 0px;
	-fx-border-radius: 0px; 
}
/*.check-box .mark {
 	-fx-shape: "M1.73,12.91 8.1,19.28 22.79,4.59 22.79,1.59 8.1,16.28 1.73,9.91";
}*/
.radio-button:selected /*.mark*/{
	-fx-background-color:  #36393E;
}
.radio-button:selected .dot{
	-fx-background-color:  #36393E;
}
.radio-button:selected .radio {
	-fx-background-color: 0px;
}



.tabpaneanchorpane{
	-fx-background-color:#1F2023;

}



/*************************
		LOGIN
*************************/
.loginhatter{
	-fx-background-color: linear-gradient(to bottom right, #25282A, #25282A);
}
.exit{
	-fx-background-color: linear-gradient(to bottom right, #25282A, #25282A);
}
.logininput{
	-fx-background-color:#1F2023;
}
.logininput:focused{
	-fx-background-color:#111215;
}





.CloseButtonImage { 
    -fx-background-image: url('img/closeimage2.png');
    -fx-background-size: 100%;
    -fx-background-repeat: no-repeat;
    -fx-background-position: 50%;
	-fx-background-color:transparent;
}
.TalcaButtonImage { 
    -fx-background-image: url('img/talcaimage.png');
    -fx-background-size: 100%;
    -fx-background-repeat: no-repeat;
    -fx-background-position: 50%;
	-fx-background-color:transparent;
}
.SettingsButtonImage { 
    -fx-background-image: url('img/settings.png');
    -fx-background-size: 80%;
    -fx-background-repeat: no-repeat;
    -fx-background-position: 50%;
	-fx-background-color:transparent;
}
.LogoutButtonImage { 
    -fx-background-image: url('img/logout.png');
    -fx-background-size: 80%;
    -fx-background-repeat: no-repeat;
    -fx-background-position: 10%;
	-fx-background-color:transparent;
}
.HelpButtonImage { 
    -fx-background-image: url('img/help.png');
    -fx-background-size: 100%;
    -fx-background-repeat: no-repeat;
    -fx-background-position: 50%;
	-fx-background-color:transparent;
}
.RandomNumberButton{ 
    -fx-background-image: url('img/refresh32x32.png');
    -fx-background-size: 100%;
    -fx-background-repeat: no-repeat;
    -fx-background-position: 50%;
	-fx-background-color:transparent;
}


.overlay{
	-fx-background-color: linear-gradient(to bottom right, #111215, #0A0B0D);
}

.Bigbutton { 
    -fx-background-color:rgba(0, 0, 0, 0.5);
	-fx-padding:50px;
    -fx-background-size: 80%;
    -fx-background-repeat: no-repeat;
    -fx-background-position: 50%;
}

.Bigbutton.help{
	 -fx-background-image: url('img/help.png');
}
.Bigbutton.settings{
	 -fx-background-image: url('img/settings.png');
}
.Bigbutton.close{
	 -fx-background-image: url('img/closeimage2.png');
}
.Bigbutton.logout{
	-fx-background-image: url('img/closeimage2.png');
}
.Bigbutton.themes{
	-fx-background-image: url('img/brush.png');
}



.themePaneBg { 
    -fx-background-color:rgba(0, 0, 0, 0.5);
}
.themeButton {
    -fx-font-size: 12px;
    -fx-padding: 2;
    -fx-background-color: #111215;
	  
	-fx-text-background-color:#82d18d;
	-fx-text-fill:#82d18d;
}
.themeButton:hover {
    -fx-background-color: #1F2023;
}


.registerError{
	-fx-font-weight:bold;
	-fx-background-color:rgba(215, 117, 117, 0.8);
	-fx-border-color: red;
	-fx-border-width:2px;
	-fx-min-width:100px;
	-fx-text-background-color:#FFF;
	-fx-text-fill:#FFF;
}
.successregister{
	-fx-background-color: linear-gradient(to bottom right, #74d689, #55bd6b);
	-fx-text-background-color:#FFF;
	-fx-text-fill:#FFF;
}
.registerbutton{
	-fx-font-weight:bold;
	-fx-background-color:rgba(255, 255, 255, 0.5);
	-fx-border-color: #82d18d;
	-fx-border-width:2px;
	-fx-text-background-color:#FFF;
	-fx-text-fill:#FFF;
}